<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/styles.css"/> <!-- static path for public folder is already set in app.js -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        {{!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> --}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    </head>
    <body>
        <div class="container" name="wholeSite">
            <div class="row">
                <div class="col-md-10 text-center">
                    {{>header}}
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Video Tutorial</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <form class="weatherLocation"><input placeholder="location..." type = "text"/>
                        <button>Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Video Tutorial</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Video Tutorial In Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="weatherInfo">
                        <div class="description">    
                            {{!-- <div class="weatherCondition"></div>     --}}
                            <div class="place"></div>
                            
                        </div>
                        <div class="temperature"><span></span></div>
                        <input type="file" id="fileInput">
                    </div>
                    <div class="userLocationInfo">
                        <h3>Your Location's Interesting Facts</h3>
                        <p class="userInfoSection"></p>  
                    </div>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#userLearnMore">Learn More</button>
                    <div id="userLearnMore" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Would you like to navigate away from this site?</h4>
                                </div>
                                <div class="modal-body">
                                    <a href=https://www.google.com id='userLearnMore'>Yes</a>
                                    <button type="button" class="close" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="testweatherInfo">
                        <div class="testdescription">    
                            {{!-- <div class="testweatherCondition"></div>     --}}
                            <div class="testplace"></div>
                        </div>
                        <div class="testtemperature"><span></span></div>
                    </div>
                    <div class="randLocationInfo">
                        <h3>Random Location's Interesting Facts</h3>
                        <p class="randInfoSection"></p>  
                    </div>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#randLearnMore">Learn More</button>
                    <div id="randLearnMore" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Would you like to navigate away from this site?</h4>
                                </div>
                                <div class="modal-body">
                                    <a href=https://www.google.com id='randLearnMore'>Yes</a>
                                    <button type="button" class="close" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {{!-- <button id="userLearnButton">Learn More</button> --}}
                </div>
                
            </div>

        </div>
        {{!-- <div class="main-content">
            
            <article class="widget">
                <form class="weatherLocation"><input placeholder="location..." type = "text"/>
                    <button>Search</button>
                </form>
                <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
                
                <div class="testweatherIcon"><i class="wi wi-day-cloudy"></i></div>
                <div class="testweatherInfo">
                    <div class="testtemperature"><span></span></div>
                    <div class="testdescription">    
                        <div class="testweatherCondition"></div>    
                        <div class="testplace"></div>
                    </div>
                </div>
                <div class="date"></div>
            </article>
        </div> --}}
       <script src="js/app.js"></script> <!-- absolute path --> 
    </body>
</html>